@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0bf, #066bff) no-repeat;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 3rem;
  padding: 2rem;
}

@media screen and (max-width: 769px) {
  .text {
    font-size: 2rem;
  }
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 769px){
    flex-direction: column;
  }
}

.recordButton {
  border-radius: 250px;
  -webkit-box-shadow: #00000054 5px 5px 10px;
          box-shadow: #00000054 5px 5px 10px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: fit-content;
  height: fit-content;
  margin: 10px;
}

@media screen and (min-width: 769px) {
  .recordButton:hover {
    -webkit-box-shadow: #00000054 5px 5px 25px;
            box-shadow: #00000054 5px 5px 25px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .recordButton:active {
    -webkit-box-shadow: #00000054 4px 4px 15px;
            box-shadow: #00000054 4px 4px 15px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.recording {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.recording:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*Card Styles*/

/*Button style when card spawns*/

@keyframes rollaway{
  from{
    transform: rotate(0deg) scale(1);
  }
  to{
    transform: rotate(360deg) scale(0.5);
  }
}

.rollaway{
  animation: rollaway 1s forwards ease;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
}

@keyframes cardreveal{
  from{
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  to{
    clip-path: inset(0 0% 0 0);
    opacity: 1;
  }
}
.cardreveal{
  animation: cardreveal 1s forwards .5s ease;
}


.container .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  max-width: 80vw;
  -webkit-box-shadow: #00000010 5px 5px 10px;
          box-shadow: #00000010 5px 5px 10px;
  border-radius: 6px;
  transition: all .5s ease;
  cursor: pointer;
  opacity: 0;
  @media screen and (max-width: 769px){
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .container .card-item:hover {
    -webkit-box-shadow: #0000007c 3px 3px 10px;
            box-shadow: #0000007c 3px 3px 10px;
    -webkit-transition: -webkit-box-shadow .5s ease;
    transition: -webkit-box-shadow .5s ease;
    transition: box-shadow .5s ease;
    transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
  }
  .container .card-item:active {
    -webkit-box-shadow: #0000007c 1px 1px 5px;
            box-shadow: #0000007c 1px 1px 5px;
    transition: box-shadow .1s ease;
  }
}

.container .card-item .card-image {
  background-color: #e1aaaf;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 8px 0 0 8px;
  @media screen and (max-width: 769px){
    border-radius: 8px 8px 0 0;
  }
}

.container .card-item .card-image .img-responsive {
  max-width:60%;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 7px #00000033;
  box-shadow: 2px 2px 7px #00000033;
  @media screen and (max-width: 769px){
    max-width: 90%;
  }
}

.container .card-item .card-info {
  background-color: #00baff;
  padding: 20px;
  border-radius: 0 8px 8px 0;
  color: #ffffff;
  @media screen and (max-width: 769px){
    border-radius: 0 0 8px 8px;
  }
}

.container .card-item .card-info .card-title h2 {
  font-size: 2rem;
  font-weight: 700;
}

.container .card-item .card-info .card-subtitle h3 {
  font-size: 1rem;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */