<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wazammm!</title>
</head>

<body>
    <link rel="stylesheet" href="{% static 'one/css/style.css' %}" type="text/css">

    <div class="text">
        <h1>Tap to Shazam!</h1>
    </div>
    <div class="wrapper">
        <div class="recordButton" onclick="JSmagic()">
            <img src="https://i.imgur.com/spiFNt0.png" width="200" height="200" />
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'one/js/script.js' %}" type="text/javascript"></script>

</body>

</html>